@model IEnumerable<Department>
@* دي كدا بتبقي عشان اجيب الموديل نفسوmodel ال*@
@{
    ViewData["Title"] = "All Department";
}

<a asp-controller="Department" asp-action="Create" class="btn btn-success">Create New Department</a>

@if (TempData["AlertMessage"] != null)
{
    <div id="DivId" class="alert alert-success mt-4">
        @TempData["AlertMessage"]
    </div>
}
@*Mode عشان الجيب الداتا اللي جواها بتبقي كدا*@
<div class="m-4">
    <form class="row offset-2" asp-action="Index">
        <div class="col-8">
            <input class="form-control" name="SearchString" type="text" placeholder="Department's Name" />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-dark" value="Search" />
            <a asp-controller="Department" asp-action="Index" class="ml-2 ,btn btn-light">Back To List</a>
        </div>
    </form>
</div>
@if (Model.Count() > 0)
{
    <h1>All Departments</h1>

    <table class="table table-striped table-hover mt-3">
        <thead>
        <td>@Html.DisplayNameFor(d => d.Code)</td>
        <td>@Html.DisplayNameFor(d => d.Name)</td>
        <td>@Html.DisplayNameFor(d => d.DateOfCreation)</td>
        <td>Details</td>
        <td>Update</td>
        <td>Delete</td>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.DateOfCreation</td>
                    <partial name="_ButtonsPartialView" model="@item.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning"> There Is No Department</div>
}